<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SatiatorRingsConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SatiatorRingsConfig.Properties.Settings>
      <setting name="boxartUrls" serializeAs="String">
        <value>http://files-ds-scene.net/retrohead/satiator/box/2d/png/|http://files-ds-scene.net/retrohead/satiator/box/2d/jpg/|http://files-ds-scene.net/retrohead/satiator/box/2d/|http://files-ds-scene.net/retrohead/satiator/box/3d/</value>
      </setting>
      <setting name="boxartFormats" serializeAs="String">
        <value>.png|.jpg|.tga|.tga</value>
      </setting>
    </SatiatorRingsConfig.Properties.Settings>
  </userSettings>
</configuration>
